/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Style */
body {
    font: 14px/28px Poppins, arial;
    background-color: #ffffff;
}

.navbar {
    font-size: 0.875rem;
    text-decoration: none;
    color: #0C0D36;
    padding: 3px;
    cursor: pointer;
}

.navbar:hover {
        color: rgba(251, 74, 35, 0.745);
    }

.card-prd{
    text-decoration: none;
    margin-bottom: 40px;
}

.add-to-cart{
    margin-top: 16px;
    text-decoration: none;
    position: absolute;
    width: 210px;
    height: 35px;
    background-color: #29A867;
    color: #ffffff;
    text-align: center;
    padding-top: 6px;
    border-radius: 16px;
}

.add-to-cart:hover{
    border: 1px solid #29A867;
    background-color: #ffffff;
    color: #29A867;
}

.checkout {
    margin: 16px auto;
    text-decoration: none;
    width: 35.75%;
    height: 35px;
    background-color: #29A867;
    color: #ffffff;
    text-align: center;
    padding-top: 6px;
    border-radius: 6px;
    display: block;
}

.checkout:hover{
    border: 1px solid #29A867;
    background-color: #ffffff;
    color: #29A867;
}

.nav-signup{
    background-color: #29A867;
    color: #ffffff;
    border-radius: 6px;    
    text-decoration: none;
    padding: 3px;
    box-sizing: border-box;
}

